.donateWrapper {
	width: 100%;
	background-color: #1f2833;
	color: white;
}
.donateForm{
	border-radius: 25px;
    border: 2px solid #66fcf1;
	background: #c5c6c7;
    padding: 20px;
    width: 500px;
    height: 450px;
	margin-left: 650px;

}

.donateInner{

	margin-left: 15%;
	color: black;
}

.donateLarge{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 700%;
	color: #66fcf1;
	margin-top: 0px;
	margin-left: 15%;
	margin-bottom:0px;
}

.weNeed{
	margin-top: 0px;
	margin-left: 35%;
	color: #45a29e;
}

.lorem{
	font-style: italic;

}

 /* testing for Patrick
 API Key (v3 auth)
2b026bda7ea9b58930161475b7d89a62

API Read Access Token (v4 auth)
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyYjAyNmJkYTdlYTliNTg5MzAxNjE0NzViN2Q4OWE2MiIsInN1YiI6IjVhODYwYWNmMGUwYTI2NTNkYjAyZTM5NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.1ZR31PW7F1V0BJV68130919Y-Sbc3RqNIzxF6wwxTj8*/
